extends base.pug

block content
    video(src="/" + video.fileUrl, controls)
    div
        button#play Play 
        button#mute Mute
        span#time 00:00/00:00
        input(type="range", min="0" max="1")#volume
    //-
        div
            p=video.description
            small=video.createdAt
        div   
            small Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts   
    //- static/js를 쓰는 이유는 서버가 /static을 사용하도록 설정되어있고, assets 폴더에 접근 권한을 주기 위해서.
    script(src="/static/js/videoPlayer.js")